@tailwind base;
@tailwind components;
@tailwind utilities;

.heroimage{
    background-image: url("https://d383au3bye3rv1.cloudfront.net/static/images/optimized/sky.jpg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 830px;
    width: 100%;
}


.heroIcon{
    border: 2px solid;
    border-radius: 9999px;
    border-color: transparent;
    border:#F6F6F6;
}
.heroIcon:hover{
    border: 2px solid;
    color: rgb(105, 213, 243);
    border-radius: 9999px;
}